* {
    /*1.包括元素寬度防錯位  2.預設字體*/
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
}

body {
    background: transparent;/*背景透明*/
    margin: 0;
    background: #f5f5f5;
    display: flex;
    /*對齊*/
    align-items: center;
    /*使內容垂直置中*/
    justify-content: center;
    /*垂直*/
    height: 100vh;
}


/*主容器*/
.container {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 90vw;
    max-width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*圓環*/
.timer-ring {
width: 60dvw;
    height: 60dvw;
    /*響應寬度和高度*/
    max-width: 200px;
    max-height: 200px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    position: relative;
      cursor: pointer;

    background: conic-gradient(#000000 0deg, #ffffff 0deg);
    /*動態加裝*/
}

.timer {
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    pointer-events: none;/*穿透數字*/
}

/*15*/
.timer-wrapper {
    display: flex;
    /*對齊*/
    align-items: center;
    /*使內容垂直置中*/
    gap: 2rem;
    /*間距*/
    flex-wrap: wrap;
    /*換行*/
}

/*30*/
.switch-ball {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /*圓化*/
    background-color: #ccc;
    cursor: pointer;
    /*鼠標手指*/
    transition: background-color 0.2s ease;
    /*過渡效果*/
}

.switch-ball:hover {
    background-color: #000000;
    /*鼠標懸停時變色*/

}


/*圓環按鈕*/
.controls {
    margin-bottom: 1.5rem;
}

.controls button {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border: none;
    border-radius: 30rem;
    background-color: #000000;
    color: white;
    cursor: pointer;
}

.controls button:hover {
    color: #000000;
    background-color: #ffffff;
    border: solid 2px #000000;
}


/*兔子*/
.rabbit-sprite {
    width: 64px;
    height: 64px;
    background-image: url("img/Rabbit.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 576px 64px;
    /* 原圖 144x16 → 乘上 4 倍 */
    image-rendering: pixelated;
    animation: rabbit-hop 1s steps(9) infinite;
}

.rabbit-run {
    background-image: url("img/Rabbit-run.png");
    animation: rabbit-hop 1s steps(9) infinite;
}

@keyframes rabbit-hop {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -576px 0px;
        /*Y 軸 9 幀 × 16px = 144px 高度*/
    }

}






/*手機字體放大測試*/

@media (max-width:480px){
.timer{
    font-size: 2rem;/*字體放大*/
}

.switch-ball {
    width: 28px;
    height: 28px;
    /*圓球大小*/

}

.controls button{
font-size: 0.9rem;
padding: 0.4rem 1rem;


}


}
